@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Light.otf");
  font-weight: 300;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Medium.otf");
  font-weight: 600;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Semibold.otf");
  font-weight: 700;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: 'Gilroy';
  src: url("assets/fonts/Gilroy-Black.otf");
  font-weight: 900;
}
