.tabs {
  &-container {
    width: 100%;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    align-items: center;
    margin: 40px 0;


    .tab {
      padding: 12px 24px;
      display: flex;
      align-items: center;
      cursor: pointer;
      position: relative;
      color: #686868;

      &:not(.active):hover {
        .tab-icon {
          background: $primary;
        }

        .tab-title {
          color: $primary
        }
      }

      &-title {
        margin-left: 8px;
        font-weight: 700;
        line-height: 24px;
        transition: .3s;
      }

      &-icon {
        width: 25px;
        height: 25px;
        background: #686868;
        transition: .3s;

        &-active {
          mask: url("assets/img/icons/u_file-alt.svg");
        }
        &-completed {
          mask: url("assets/img/icons/u_file-check.svg");
        }
      }

      &.active {
        color: #000;

        .tab-icon {
          background: #000;
        }

        &:after {
          content: "";
          display: block;
          position: absolute;
          bottom: -1px;
          left: 0;
          width: 100%;
          height: 2px;
          background: $primary;
        }
      }
    }
  }
}

.stabs {
  &-container {
    width: 220px;
    position: sticky;
    top: 120px;

    .card-line {
      margin: 0 0 12px;
    }
  }
  &-list {}
  &-item {
    line-height: 24px;
    color: #686868;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 12px;
    border: 1px solid transparent;
    border-radius: 12px;

    &:hover, &.active {
      color: #000;
      background: #F5F5F5;
      border: 1px solid #e8e8e8;
    }

    &.active {
      .stabs-item--badge {
        background: $primary;
      }
    }

    img {
      margin-left: 16px;
    }

    &--badge {
      color: #fff;
      background: #b8bcc1;
      border-radius: 4px;
      font-size: 12px;
      padding: 0 4px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
    }
  }
}
